.closeButtonRemove{
  display: flex;
  background-color: transparent;
  color: #999;
  &:hover{
    background-color: #999;
    color: #444;
  }
}

.removeButton{
  display: flex;
  &:hover{
    background-color: #BA1A1A;
  }
}

.RemoveModal{
  display: flex;
  width: 90%;
}

@media screen and (max-width: 960px) {
  .ModalContent{
    display: flex;
    width: 90%;
    height: 80%;
  }

}