.rst__rowContents {
  background-color: #e0e1e2;
  align-items: center;
  justify-content: center;
  border: 0;
}

.rst__moveHandle {
  background-color: #ff7f2f;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 0;
}

.rst__rowLabel {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.inputFile {
  background-color: #e0e1e2;
  border-radius: 4px;
  color: #ff7f2f;
  cursor: pointer;
  padding: 6px;
  margin-right: 4px;

  &:hover {
    background-color: #ff7f2f;
    color: #e0e1e2;
  }
}

.inputFormFarm {
  display: flex;
  align-items: center;
}
.inputFarm {
  display: flex;
  width: 15rem;
  background-color: #eee;
  border-left: 3px solid #ff7f2f;

  border: 0;
  color: #000;
  transition: 0.2s ease-in-out;
  &:focus {
    background-color: #fff;
    border-left: 3px solid #ff7f2f;
    outline: none;
    width: 24rem;
    padding: 6px;
    transition: 0.2s ease-in;
  }
}
.inputAbrv {
  display: flex;
  width: 90px;
  background-color: #eee;
  border: 0;
  border-radius: 4px;
  color: #000;
  margin-left: 16px;
  transition: 0.2s ease-in-out;

  &:focus {
    background-color: #fff;
    border-left: 3px solid #ff7f2f;
    outline: none;
    width: 12rem;
    padding: 6px;
    transition: 0.2s ease-in;
  }
}
