.blocks-container {
  background-color: lightgray;
  .blocks {
    padding: 0 var(--spacer);
  }
  .block {
    background-image: linear-gradient(var(--gray-700), var(--dark));
    box-shadow: 0 calc(var(--spacer) * 0.25) calc(var(--spacer) * 0.25) rgba(var(--black), 0.2),
                0 calc(var(--spacer) * 0.5) var(--spacer) rgba(var(--black), 0.15),
                0 calc(var(--spacer) * 0.75) calc(var(--spacer) * 2) rgba(var(--black), 0.1);
    text-shadow: 0 1px 1px rgba(var(--dark), 0.5);
    .block--header {
      color: var(--primary);
    }
    .block--body__icon {
      fill: var(--gray-600);
      height: var(--spacer);
      margin-right: calc(var(--spacer) * .5);
      transform: translateY(calc(var(--spacer) * .125));
      width: var(--spacer);
    }
    .block--body__data {
      color: var(--white);
      font-weight: 700;
    }
    .block--body__unit {
      color: var(--gray-500);
    }
    &:hover,
    &.active {
      background-image: linear-gradient(var(--primary), var(--primary-dark));
      .block--header {
        color: var(--dark);
      }
      .block--body__icon {
        fill: rgba(var(--dark), 0.6);
        filter: drop-shadow(0 1px 1px rgba(var(--dark), 0.5));
      }
      .block--body__unit {
        color: rgba(var(--white), 0.6);
      }
    }
    &.active {
      cursor: default;
      inset: var(--spacer) 0; // calc(var(--spacer) * 3.375) 0 var(--spacer); // pra quando tiver campo de busca
      position: sticky;
      z-index: 1;
      .block--header {
        border-bottom: 1px solid rgba(var(--white), 0.15);
        color: var(--dark);
        margin-right: calc(var(--spacer) * -0.5);
        margin-left: calc(var(--spacer) * -0.5);
        padding-right: calc(var(--spacer) * 0.5);
        padding-bottom: calc(var(--spacer) * 0.5);
        padding-left: calc(var(--spacer) * 0.5);
        &::after {
          border-bottom: 1px solid rgba(var(--dark), 0.1);
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}