.header {
  background-color: #FF7F2F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4.75rem;

}

.logoHeader {
  display: flex;
  width: 180px;
  height: 98px;
  margin-left: 48px;
  margin-top: -6px;
}

.navButtons {
  position: absolute;
  flex-direction: row;
  left: 18rem;
  top: 24px;
}

.linkContainer {
  margin-right: 24px;
 
&:active{
  color: var(--bs-primary-dark);
}
}

.buttonLogout{
	text-decoration: none;
  margin-right: 48px;
  color: white;
  background-color: transparent;
  border: 0;
  align-items: center;
  justify-content: center;
  display: flex;

 

}

