.sidebar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #999;
  bottom: 0;
  display: flex;
  height: 100%; // 5vh;
  overflow: hidden;
  padding: 28px;
  position: absolute;
  transition-duration: 0.3s;
  width: 55px;
  .hamburger {
    cursor: pointer;
    display: block;
    margin-top: 6px;
    position: fixed;
    width: 24px;
    z-index: 2;
  }
}

.sidebarOpen {
  border-radius: 8px;
  bottom: 0;
  height: 400px;
  overflow: hidden;
  position: absolute;
  transition-duration: 0.2s;
  width: 100%; // 75vw;
  .hamburger {
    border-radius: 8px;
    cursor: pointer;
    justify-content: start;
    margin-left: 1rem;
    position: fixed;
    width: 25px;
    z-index: 2;
  }
}
