.containerEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  width: 100%;
  background-color: #fffbff;
}

.headerContainer {
  display: flex;
  margin-left: 14px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 24px;




  .btn-secondary {
    background-color: #ffffff;
    padding: 10px 24px 10px 24px;

    color: #ff7f2f;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-weight: 400;

    &:hover {
      background-color: #ff7f2f;
      color: #ffffff;
    }
  }
}

.textHeader{
  display: flex;
  font-weight: 400;
  font-family:  "Roboto Condensed";
  font-size: 24px;
}

.buttonsContainer {
  display: flex;
}

.inputSearch {
  display: flex;
  width: 22rem;
  padding: 14px 14px 14px 18px;
  border-radius: 4px;
  font-family: "Roboto Condensed";
  border: 0;
  background-color: #e0e1e2;
  &:active{
    border: 0;
  }
}
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #e0e1e2;
  padding-right: 16px;
}
.SearchIcon{
  display: flex;
}

.buttonHeader {
  display: flex;
  margin-right: 24px;
}
@media (max-width: 1048px){
.headerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.textHeader{
  display: flex;
  margin-bottom: 16px;
}

.searchContainer{
  display: flex;
  margin-bottom: 24px;
}

.btn-secondary {
  display: flex;
  &:hover {
    background-color: #ff7f2f;
    color: #ffffff;
  }
}
}