

.swiperNavigation {
  display: flex;
}

.card {
  background-color: var(--bs-light);
  // border-radius: 16px;
  // border: 1px solid var(--bs-primary);
  flex-direction: column;
  // height: 17rem;
  // margin: 24px 72px 36px 0;
  position: relative;
  // transition: 0.2s;
  // width: 12rem;
  .cardDayNormal {
    // border-bottom: 1px solid var(--bs-gray-200);
    display: flex;
    // font-size: 16px;
    // font-weight: 400;
    justify-content: center;
    // margin-top: 8px;
    // padding-bottom: 12px;
    // transition: 0.2s;
  }
  .cardDayAlert {
    background-color: var(--bs-warning);
    // border-bottom: 1px solid var(--bs-gray-200);
    // border-top-left-radius: 16px;
    // border-top-right-radius: 16px;
    display: flex;
    // font-size: 16px;
    // font-weight: 400;
    justify-content: center;
    // padding-bottom: 12px;
    // padding-top: 8px;
    // transition: 0.2s;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    // transition: 0.2s ease-in;
    .infoHeader {
      align-items: center;
      display: flex;
      // font-size: 30px;
      // font-weight: 700;
      justify-content: space-evenly;
      // transition: 0.3s;
    }
    .iconHeader {
      display: flex;
      // width: 90px;
    }
    .infoInside {
      display: flex;
      // font-size: 12px;
      // margin-top: 12px;
      .infoWeather {
        align-items: center;
        display: flex;
      }
      .iconHeader {
        display: flex;
        // width: 28px;
      }
    }
  }
}
