
//botão de navegação  
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--bs-primary);
  background-color: var(--bs-white);
  border-radius: 50%;
  color: var(--bs-gray-100); // #F8F9FA !important;
  fill: var(--bs-black); // !important;
  padding: var(--spacer); // 20px;
  right: calc(var(--spacer) / 2); // 10px;
  stroke: var(--bs-black); // !important;
  &::after {
    display: flex;
    font-size: 18px;
  }
}

//paginação
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: var(--bs-primary); // #FF7F2F !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, calc(var(--spacer) / 2));
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
  left: 0;
  width: 100%;
}
