.App {
  display: flex;
  overflow-y: hidden;

  // flex-direction: column;
  .blocksApp {
    display: flex;
    height: 85vh;
    width: 25rem;
  }

  .MapTimeline {
    display: flex;
    flex-direction: column;
    height: 91vh;

    .timeline {
      display: flex;
      height: 20%;
      width: 94rem;
    }
  }
}

//Breadcrumb
.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}



.breadcrumbLink{
  display: flex;
  margin-top: 16px;
  line-height: 1;
  .breadcrumbText{
    text-decoration: none;
    color: #ff7f2f;
  }
}

a
{
  text-decoration: none;
}