// @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$font-family-sans-serif: "Roboto Condensed", Inter, Avenir, Helvetica, Arial, sans-serif; // "Titillium Web", sans-serif;
// $primary: #ff7f2f;
// $primary-dark: #cc6525;
// $zeus-colors: (
//   "primary-dark": $primary-dark,
// );
// $theme-colors: map-remove($theme-colors, "blue", "indigo", "purple", "pink", "orange", "teal", "cyan", "gray", "gray-dark");
// $theme-colors: map-merge($theme-colors, $zeus-colors);

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/utilities';
// @import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/breadcrumb';
// @import 'bootstrap/scss/button-group';
// @import 'bootstrap/scss/card';
// @import 'bootstrap/scss/carousel';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/dropdown';
// @import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/nav';
// @import 'bootstrap/scss/navbar';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/placeholders';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/tables';
// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/tooltip';

// 5. Add additional custom code here
:root {
  --bs-atmosphericPressure-rgb: 139, 195, 74;
  --bs-atmosphericPressure: #8bc34a;
  --bs-cad-rgb: 40, 167, 69;
  --bs-cad: #28a745;
  --bs-cc-rgb: 40, 167, 69;
  --bs-cc: #28a745;
  --bs-cloudCover-rgb: 206, 212, 218;
  --bs-cloudCover: #ced4da;
  --bs-et0-rgb: 0, 150, 136;
  --bs-et0: #009688;
  --bs-etc-rgb: 0, 150, 136;
  --bs-etc: #009688;
  --bs-gust-rgb: 156, 39, 176;
  --bs-gust: #9c27b0;
  --bs-humidity-rgb: 102, 204, 255;
  --bs-humidity: #6cf;
  --bs-pmp-rgb: 220, 53, 69;
  --bs-pmp: #dc3545;
  --bs-primary-dark-rgb: 189, 101, 47;
  --bs-primary-dark: #bd652f;
  --bs-primary-rgb: 255, 127, 47;
  --bs-primary: #ff7f2f;
  --bs-prob-norain-rgb: 244, 67, 54;
  --bs-prob-norain: #f44336;
  --bs-prob-rain-rgb: 76, 175, 80;
  --bs-prob-rain: #4caf50;
  --bs-prob-undefined-rgb: 255, 217, 0;
  --bs-prob-undefined: gold;
  --bs-rain-rgb: 0, 153, 255;
  --bs-rain: #09f;
  --bs-solarIrradiation-rgb: 255, 193, 7;
  --bs-solarIrradiation: #ffc107;
  --bs-temperature-rgb: 255, 87, 34;
  --bs-temperature: #ff5722;
  --bs-temperatureMin-rgb: 132, 140, 168;
  --bs-temperatureMin: #848ca8;
  --bs-wind-rgb: 156, 39, 176;
  --bs-wind: #9c27b0;
  --cubic-bezier: cubic-bezier(.47, 1.64, .41, .8);
  --spacer: 16px;

  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: antialiased;
  // -webkit-text-size-adjust: 100%;
  // background-color: var(--dark);
  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // font: 400 16px/24px "Roboto", Inter, Avenir, Helvetica, Arial, sans-serif;
  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
}

html {
  font-size: 16px;
  // @include media-breakpoint-up(xxl) {
  //   font-size: 18px;
  // }
}

body {
  cursor: default;
  min-height: 100vh;
  min-width: 320px;

  @include noselect;
}

// @for $i from 1 through 6 {
//   h#{$i}, .h#{$i} {
//     font-family: $font-family-sans-serif;
//   }
// }

a,
.btn-link {
  color: var(--bs-primary-dark);
  font-weight: 400;
  // text-decoration: inherit;
  text-underline-offset: .25rem;
  &:hover {
    color: var(--bs-primary);
  }
  &:not(.no-external)[rel*="noopener"] {
    padding-right: .625rem;
    position: relative;
    &::after {
      background: url("../src/assets/images/ico-external-href.svg") no-repeat center / contain;
      content: "";
      height: .5rem;
      position: absolute;
      right: 0;
      top: .25rem;
      width: .5rem;
    }
  }
}

// @media (prefers-color-scheme: light) {
//   :root {
//     background-color: #ffffff;
//     color: #213547;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   // button {
//   //   background-color: #f9f9f9;
//   // }
// }

// button {
//   background-color: #1a1a1a;
//   border-radius: 8px;
//   border: 1px solid transparent;
//   cursor: pointer;
//   font-family: inherit;
//   font-size: 1em;
//   font-weight: 500;
//   padding: 0.6em 1.2em;
//   transition: border-color 0.25s;
//   &:hover {
//     border-color: #646cff;
//   }
//   &:focus,
//   &:focus-visible {
//     outline: 4px auto -webkit-focus-ring-color;
//   }
// }

// // scaffolding
// $zeus-colors: (
//   "primary-dark": $primary-dark,
// );

// $theme-colors: map-remove($theme-colors, "blue", "indigo", "purple", "pink", "orange", "teal", "cyan", "gray", "gray-dark");
// $theme-colors: map-merge($theme-colors, $zeus-colors);

// @import "bootstrap/scss/maps";
// @import "bootstrap/scss/root";

// // Optional
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";

// @import "bootstrap";

#root {
  height: 100vh;
}

// _formitems.scss
// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;
//   &:hover {
//     color: #535bf2;
//   }
// }

label {
  cursor: pointer;
}

.form-control {
  background-clip: border-box;
  // border: 0;
  border-radius: var(--bs-border-radius-sm);
  border-color: $white;
  &:focus {
    // background-color: #fff;
    border-color: $white; // #86b7fe;
    border-left: 2px solid var(--bs-primary);
    box-shadow: none; // 0 0 0 0.25rem rgb(13 110 253 / 25%);
    // color: #212529;
    // outline: 0;
  }
  &.capslock-on {
    padding-right: 5.5rem;
  }
  &.is-invalid {
    animation: shake .5s ease-in;
  }
}

.table {
  font-family: var(--bs-font-sans-serif);
}

// input[type="search"] {
//   &::-webkit-search-cancel-button {
//     -webkit-appearance: none;
//     appearance: none;
//     background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat center / contain;
//     height: $spacer;
//     opacity: 0;
//     pointer-events: none;
//     width: $spacer;
//   }
//   &:focus::-webkit-search-cancel-button {
//     opacity: 0.3;
//     pointer-events: all;
//   }
// }

.btn {
  border-radius: var(--bs-border-radius-sm);
}

.btn-primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-primary-dark);
  --bs-btn-hover-border-color: var(--bs-primary-dark);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(var(--bs-black-rgb), 0.125);
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--bs-primary);
  // color: var(--bs-dropdown-link-active-color);
}

// @-webkit-keyframes shake {
//   0%, 100% { -webkit-transform: translateX(0%); } 
//   15% { -webkit-transform: translateX(-12%); } 
//   30% { -webkit-transform: translateX(8%); } 
//   45% { -webkit-transform: translateX(-4%); } 
//   60% { -webkit-transform: translateX(2%); }
//   75% { -webkit-transform: translateX(-1%); }
// }

// @-moz-keyframes shake {
//   0%, 100% { -webkit-transform: translateX(0%); } 
//   15% { -webkit-transform: translateX(-12%); } 
//   30% { -webkit-transform: translateX(8%); } 
//   45% { -webkit-transform: translateX(-4%); } 
//   60% { -webkit-transform: translateX(2%); }
//   75% { -webkit-transform: translateX(-1%); }
// }
// @keyframes shake {
//   0%, 100% { transform: translateX(0%); } 
//   15% { transform: translateX(-12%); } 
//   30% { transform: translateX(8%); } 
//   45% { transform: translateX(-4%); } 
//   60% { transform: translateX(2%); }
//   75% { transform: translateX(-1%); }
// }

// .bas-relief {
//   box-shadow: (-$spacer * 0.125) (-$spacer * 0.125) $spacer * 0.125 rgba($black, 0.5),
//               $spacer * 0.125 $spacer * 0.125 $spacer * 0.125 rgba($white, 0.125);
// }

iframe {
  border: 0;
}



// SKELETON LOADING
.skeleton-box {
  background-color: var(--bs-gray-300);
  // border-radius: var(--bs-border-radius-sm);
  display: inline-block;
  height: var(--spacer);
  overflow: hidden;
  position: relative;
  &::after {
    animation: shimmer 2s infinite;
    background-image: linear-gradient(90deg,
                      rgba(var(--bs-white-rgb), 0) 0,
                      rgba(var(--bs-white-rgb), 0.2) 20%,
                      rgba(var(--bs-white-rgb), 0.5) 60%,
                      rgba(var(--bs-white-rgb), 0));
    content: "";
    inset: 0;
    position: absolute;
    transform: translateX(-100%);
  }

}

@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@-moz-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
