.blocks-container {
  grid-area: blocks;
  .block {
    background-image: linear-gradient(var(--bs-white), var(--bs-gray-400));
    box-shadow: 0 calc(var(--spacer) * 0.25) calc(var(--spacer) * 0.25)
        rgba(var(--bs-black-rgb), 0.2),
      0 calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5)
        rgba(var(--bs-black-rgb), 0.15),
      0 calc(var(--spacer) * 0.75) var(--spacer) rgba(var(--bs-black-rgb), 0.1);
    text-shadow: 0 1px 1px rgba(var(--bs-dark-rgb), 0.3);
    // .block--header {
    //   color: var(--bs-primary-dark);
    // }
    // .block--body__icon {
    //   fill: rgba(var(--bs-dark-rgb), 0.6);
    //   filter: drop-shadow(0 1px 1px rgba(var(--bs-dark-rgb), 0.5));
    //   height: var(--spacer);
    //   margin-right: calc(var(--spacer) * 0.5);
    //   transform: translateY(calc(var(--spacer) * 0.125));
    //   width: var(--spacer);
    // }
    // .block--body__data {
    //   color: var(--bs-dark);
    //   font-weight: 700;
    // }
    // .block--body__unit {
    //   color: rgba(var(--bs-black-rgb), 0.6);
    // }
    &:not(.active):hover {
      box-shadow: 0 calc(var(--spacer) * 0.25) calc(var(--spacer) * 0.25)
          rgba(var(--bs-primary-rgb), 0.2),
        0 calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5)
          rgba(var(--bs-primary-rgb), 0.15),
        0 calc(var(--spacer) * 0.75) var(--spacer)
          rgba(var(--bs-primary-rgb), 0.1),
        0 calc(var(--spacer) * 0.25) calc(var(--spacer) * 0.25)
          rgba(var(--bs-black-rgb), 0.2),
        0 calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5)
          rgba(var(--bs-black-rgb), 0.15),
        0 calc(var(--spacer) * 0.75) var(--spacer)
          rgba(var(--bs-black-rgb), 0.1);
      position: relative;
      &::before {
        border: var(--active-element-outline-width) solid var(--bs-primary);
        border-radius: var(--bs-border-radius);
        content: "";
        inset: calc(var(--active-element-outline-width) * -1);
        pointer-events: none;
        position: absolute;
        z-index: 1;
      }
    }
    &.active {
      // background-image: linear-gradient(var(--bs-primary), var(--bs-primary-dark));
      // box-shadow: 0 calc(var(--spacer) * 0.25) calc(var(--spacer) * 0.25)
      //     rgba(var(--bs-primary-rgb), 0.2),
      //   0 calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5)
      //     rgba(var(--bs-primary-rgb), 0.15),
      //   0 calc(var(--spacer) * 0.75) var(--spacer)
      //     rgba(var(--bs-primary-rgb), 0.1),
      //   0 calc(var(--spacer) * 0.25) calc(var(--spacer) * 0.25)
      //     rgba(var(--bs-black-rgb), 0.2),
      //   0 calc(var(--spacer) * 0.5) calc(var(--spacer) * 0.5)
      //     rgba(var(--bs-black-rgb), 0.15),
      //   0 calc(var(--spacer) * 0.75) var(--spacer)
      //     rgba(var(--bs-black-rgb), 0.1);
      inset: 0; // calc(var(--spacer) * 3.375) 0 var(--spacer); // pra quando tiver campo de busca
      position: sticky;
      z-index: 1;
      // .block--header {
      //   // margin-right: calc(var(--spacer) * -0.5);
      //   // margin-left: calc(var(--spacer) * -0.5);
      //   // padding-right: calc(var(--spacer) * 0.5);
      //   // padding-bottom: calc(var(--spacer) * 0.5);
      //   // padding-left: calc(var(--spacer) * 0.5);
      //   position: relative;
      //   &::after {
      //     border-bottom: 1px solid rgba(var(--bs-dark-rgb), 0.1);
      //     content: "";
      //     inset: auto 0 0;
      //     position: absolute;
      //   }
      // }
      // .block--header {
      //   color: var(--bs-white);
      // }
      // .block--body__icon {
      //   fill: rgba(var(--bs-white-rgb), 0.6);
      //   // filter: drop-shadow(0 1px 1px rgba(var(--bs-dark-rgb), 0.5));
      // }
      // .block--body__data {
      //   color: var(--bs-white);
      // }
      // .block--body__unit {
      //   color: rgba(var(--bs-white-rgb), 0.6);
      // }
      // &::after {
      //   border: (var(--active-element-outline-width)) solid var(--bs-primary);
      //   border-radius: var(--bs-border-radius);
      //   content: "";
      //   inset: calc(var(--active-element-outline-width) * -1);
      //   pointer-events: none;
      //   position: absolute;
      //   z-index: 1;
      // }
    }
  }
}

//Blocosk Ativos
.nameFarm {
  display: flex;

  line-height: 1;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
}


.activeCard {
  position: sticky;

  inset: 0;
  width: 22rem;
  height: max-content;
  z-index: 1;
  border-radius: 4px;
  border: 1px solid #e0e1e2;
  background-color: #fff;
  margin-top: 16px;
  &:hover{
    border: 1px solid #FF7F2F;
  }
}

.headerCardOpen{
  display: flex;
  align-items: baseline;
}

.itemsContainer {
  display: flex;
  justify-content: center;

  // className="block--body list-unstyled mb-0"
}


.itemsHeader{
  display: flex;
  color: #C4C5C7;
}

.itemsWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  line-height: 1;

  // d-flex align-items-baseline mt-1
}
.itemCardInside{
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 16px;
}

.itensCards{
  display: flex;
  font-size: 12px;
}

//Blocos Fechados
.headerCardClosed {
  display: flex;
  align-items: center;
  line-height: 1;
  border: 1px solid #e0e1e2;
  border-radius: 4px;
  height: 5rem;
  width: 22rem;
  padding: 6px;
  margin-right: 6px;
  margin-top:  8px;

  .headerCardClosedInside {
    display: flex;
    text-overflow: ellipsis;
    font-size: 20px;

    // className="text-truncate w-100"
  }
  .infoCardClosed {
    display: flex;
    font-size: 14px;
    margin-top: 6px;
    color: #C4C5C7;
    transition: 0.8s ease-in-out;

    // className="d-flex align-items-baseline"
  }

  // block--header lh-1 d-flex flex-column gap-1
}

.infoCardsOpen {
  color: #888;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 16px;

  // block--body__data h5 mb-0
}

.infoBodyCard {
  color: rgba(0, 0, 0, 0.6);
  // color: rgba(var(--bs-black-rgb), 0.6);
}

.blocksContainer {
  display: flex;

  height: 100vh;
  width: 40rem;
}

.infoCardRain {
  display: flex;
}


.iconCards {
  width: 86px;
  margin: 8px;
}

.iconsCardsWeather {
  fill: rgba(0, 0, 0, 0.6);
  height: 16px;
  margin-right: 8px;
  transform: translateY(2px);
  width: 16px;

  // fill: rgba(var(--bs-dark-rgb), 0.6);
  // filter: drop-shadow(0 1px 1px rgba(var(--bs-dark-rgb), 0.5));
  // height: var(--spacer);
  // margin-right: calc(var(--spacer) * 0.5);
  // transform: translateY(calc(var(--spacer) * 0.125));
  // width: var(--spacer);
}

.separator{
  display: flex;
  border: 1px solid #999;
  margin: 8px 8px 8px 8px;

}

.blockAreas{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 12px;
  color: #FF7F2F;
  padding-right: 8px;
  padding-bottom: 8px;
}

